body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.fex-container{
    display: flex;
    
}

#Name{
    color: orangered;
}

.half-width{
    width: 50%;
    padding: 3px;

}

.half-width img{
    width: 70%;
    margin: 10px;
}

.font-size{
    font-size: 17px;
    text-align: justify;
    font-weight: 500px;
    margin-right: 30px;
   
}

#color-web{
    font-size: 30px;
    color: red;
}

.top-image{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.margin-con{
    margin-left: 60px;
}

.anchor{
    color: whitesmoke;
    background-image: linear-gradient(blue, red);
padding: 10px 20px;
font-size: 20px;
text-decoration: none;
}


.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.padding{
    margin: 50px;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    
}

.experience-item{
    width: 40%;
    box-shadow: 10px 20px 100px red;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#Full-Stack{
    border-left: 5px solid ;
   border-image: linear-gradient(red, blue);
   border-image-slice: 1;
   margin-right: 20px;
}

#Baby-Web{
    border-left: 5px solid ;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}